.skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90vh;
    overflow: hidden;
    grid-gap: 2em;
    place-items: center;
    padding: 0 2em;
}
.design_skills{
    display: flex;
    gap: 2em;
    justify-content: space-evenly;
}
.frontend_skills,.backend_skills{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.backend,.frontend,.design{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5em;
    box-sizing: border-box;
    border: gray solid 0.2em;
    border-radius: 0.2em;

}
.right_body img{
    width: 25em;
}
span{
    color: #8221D0;
}

