.navigation {
    display: flex;
    align-items: center;
    padding: 1em 2em;
    background-color: #8221D0;
    color: #fff;
    box-shadow: 0 2px 4px rgb(43, 44, 49);
}
.nav_left{
    margin-left: 5em;
}
.nav_left img {
    width: 6em;
    height: 3em;
}

.nav_center {
    list-style: none;
    display: flex;
    gap: 1.5em;
    margin-left: 40em;
}

.nav_center li {

    font-size: 20px;
}

.nav_center li a {
    color: #fff;
    text-decoration: none;
}
.nav_center li a:hover{
    border-bottom: 2px solid white;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}
.nav_center li a.active{
    border-bottom: 2px solid white;
}

.nav_right button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav_right img {
    width: 24px;
    padding-top: 5px;
    padding-bottom: 0;
    margin-bottom: -5px;
}
.nav_right button:hover{
    border-bottom: 2px solid white;
}
.nav_right button.active{
    border-bottom: 2px solid white;
}

.nav_right p {
    margin: 0;
}
.nav_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-left: 20px;
}